/* Admin post table styles  */

.wp-list-table
	#_email
		width: 25%

	#_social_facebook, #_social_twitter, #_social_google_plus
		width: 30px

	#_thumbnail_id
		width: 80px

	#the-list
		.column-_thumbnail_id
			text-align: center !important
			overflow: hidden
			padding: 1%

	#title
		width: 25%

	.social_meta_icon
		text-align: center !important
